# .env file for Soderia backend configuration

# Zona horaria
TZ=America/Argentina/Cordoba

# --- App ---
APP_ENV=dev
DEBUG=true
ENV=development
SECRET_KEY=5c3b2f3a9c7e4a8b2fd1d3a6c9e1f5b7c2a4d6e8f0a1b3c5d7e9f1a2b3c4d5e6

# --- Postgres (mismo usuario/DB en Docker)
POSTGRES_DB=soderia
POSTGRES_USER=admin
POSTGRES_PASSWORD=fattorbrondani

#DATABASE_URL=postgresql+psycopg://admin:CAMBIAR_ESTA_CLAVE@db:5432/soderia

DATABASE_URL=postgresql://admin:fattorbrondani@db:5432/soderia
#Para dev en Docker: postgresql://admin:fattorbrondani@db:5432/soderia

#Para correr local fuera de Docker: postgresql://admin:fattorbrondani@localhost:5432/soderia