# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.venv/
env/

# Environment files
.env
.env.local

# Build
dist/
build/
*.sqlite3

# Alembic / testing
.alembic/
.pytest_cache/

# Editor / IDE
.idea/
.vscode/

# Docker
pgdata/
*.log

# OS
.DS_Store
Thumbs.db
