# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.venv/
env/

# Environment files
.env
.env.local
.env.*        # cualquier otro .env (excepto el example)
!.env.example

# Build
dist/
build/
*.sqlite3

# Testing / cache
.pytest_cache/

# Editor / IDE
.idea/
.vscode/

# Docker
pgdata/
*.log

# OS
.DS_Store
Thumbs.db

#Diagramas y tools
diagrams/
tools/
